<div class="row">
    <div class="col-xs-2">
        <h1>Calender week picker</h1>
    </div>

    <div class="col-md-10">
        <div class="row">
            <div class="col-sm-3" *ngFor="let day of days">
                <h1>{{day}}</h1>
                <div class="row">
                    <div class="col-xs-4">
                        Breakfast
                    </div>
                    <div class="col-xs-8">
                        Omlette
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        Lunch
                    </div>
                    <div class="col-xs-8">
                        Omlette
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        Dinner
                    </div>
                    <div class="col-xs-8">
                        Omlette
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>